$color-1: var(--COLOR-1); // brand primary
$color-2: var(--COLOR-2); // brand secondary
$color-3: var(--COLOR-3);
$color-4: var(--COLOR-4);
$color-5: var(--COLOR-2);
$color-6: var(--COLOR-6);
$color-7: var(--COLOR-7);
$color-8: var(--COLOR-8);
$color-9: var(--COLOR-9);
