@mixin gradient-text($c1, $width1:0%, $c2, $width2:100%) {
  background-color: inherit;
  background-size: 100%;
  background-image: linear-gradient(to right, $c1 $width1, $c2 $width2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-image: none;
    color: $color-1;
  }
}