/*--------------------------------------------------------------------------------
        COLORS
--------------------------------------------------------------------------------*/
$color-1: #2b2d42; // brand primary
$color-2: #5fdd9d; // brand secondary
$color-3: #fffc31; // brand light backgrounds
$color-4: #a9def9; // brand alt 1
$color-5: #4d9de0; // brand alt 2
$color-6: #ffffff; // text
$color-7: #000000; // brightest
//$color-8: #eae8e8; // darkest
$color-8: #f4f4f4; // darkest
$color-9: #4d4d4d; // lighter text
$color-bright: $color-7;
$color-dark: $color-8;

$color-mute: $color-4;

$heading-color: $color-1;
$heading-sm-color: $color-1;
$cta-color: $color-1;
$body-link-color: $color-2;
$ls-marker-color: $color-1;
$specials-banner-bg: $color-2;
$specials-banner-color: white;
$bottom-cta-bg: $color-4;
$bottom-cta-color: $color-bright;
$form-section-bg: $color-2;

$font-color: $color-6;
$font-color-dark: black;
$font-color-bright: white;

$footer-text-color: $color-1;
