//-- Breakpoint Values for Devices
$ultrawide-width: 1440px;
$wide-width: 1200px;
$desktop-width: 981px;
$tablet-width: 768px;
$phone-width: 576px;

//-- Font Size relative breakpoint values,
//---- typically for container queries
$remq-xxl: 90rem;
$remq-xl: 75rem;
$remq-lg: 61.25rem;
$remq-md: 48rem;
$remq-sm: 36rem;
$remq-xs: 20rem;
